.accordion.block {
  --summary-background: var(--primary-color);
  --summary-background-open: var(--color-brand-300);
  --summary-background-hover: var(--color-brand-700);
  --summary-color: white;
  --summary-padding: 16px 16px;
  --details-background: var(--background-color);
  --details-color: var(--text-color);
  --details-padding: 16px 16px;
  --separator-line: 1px solid white;
}

.accordion {
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.accordion details:first-of-type summary {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.accordion details:last-of-type summary {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.accordion details:last-of-type[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion details summary {
  position: relative;
  padding: var(--summary-padding);
  padding-right: 48px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  background-color: var(--summary-background);
  color: var(--summary-color);
  border: 0;

}

.accordion details:not(:last-child) summary  {
  border-bottom: var(--separator-line);
}

.accordion details[open] summary  {
  border-bottom: var(--separator-line);
}

/* remove any margins around text */
.accordion details summary p {
  margin: 0;
}

.accordion details[open] summary {
  background-color: var(--summary-background-open);
}

.accordion details summary:hover {
  background-color: var(--summary-background-hover);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%) rotate(135deg);
  width: 9px;
  height: 9px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
  content:'';
}

.accordion details .accordion-item-body {
  padding: 0;
}

.accordion details .accordion-item-body p {
  margin: 0;
  padding: var(--details-padding)
}

.accordion details[open] .accordion-item-body {
  background-color: var(--details-background);
  color: var(--details-color);
}

.accordion details[open]:last-child .accordion-item-body {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

